.frame1{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.header1{
    flex: 0.5;
    overflow: auto hidden;
    border-style: solid;
    border-color: black;
    margin-bottom: 5px;
    padding-left: 15px;
}
.container{
    display: flex;
    flex: 5;
    overflow: scroll;
    border-style: solid;
    border-color: black; 
    padding: 10px;
    flex-direction: column;
}
.container2{
    display: flex;
    flex:5;
    flex-direction: column;
    padding: 10px;
}
.content{
    display: flex;
    flex-grow: 1;
    /* margin-top: 5px; */
}
.contentLeft{
    flex: 1;
}
.contentRight{
    flex: 1;
    text-align: right;
   
}
.contentMiddle{
    flex: 1;
    text-align: center;
}
h3{
    margin:0 10px;
    padding: 0;
    height: 0;
    vertical-align: middle;
    line-height: 50px;
}
.contentRight label{
    display: inline-block;
    padding: .2em .30em;
    color: #999;
    line-height: normal;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}
.contentRight input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    float: left;
}
.contentRight input[type="button"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    float: left;
}
/* .columnAlign{
    text-align: right;
    vertical-align: bottom;
    line-height: 200px;
    margin-right: 5px;
}  */
.loginBody{
    margin-top: 50px;
}